{% extends 'acceuil/base.html' %}

{% block title %}
changement de mot de passe
{% endblock %}

{% block content %}
{% load static %}

<div id="page-wrapper">
	<div class="wrapper">
		<div class="inner">
			<header id="header">
				<a href="{% url 'home' %}" class="logo">
					ASSOCIATION CARTABLES D'AFRIQUE
				</a>
				<div class = "logo">
					<span>réinitialisation du mot de passe</span>
				</div>
			</header>
		</div>
	</div>
</div>
<div class = "wrapper">
	<div class = "inner">
		<section class = "main">
			<p>Le mot de passe a été changé!</p>
			<a href = "{% url 'login' %}">Se connecter</a>
		</section>
	</div>
</div>

{% endblock %}