{% extends 'acceuil/base.html' %}

{% block title %}
changement de mot de passe
{% endblock %}

{% block content %}
{% load static %}

<div class = "wrapper">
	<div class = "inner">
		<section class = "main">
			<header class="major">
				<p>Entrez l'adresse email de votre compte. Nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
			</header>
			<form action = "" method = "post">
			{% csrf_token %}
				{% if form.email.errors %}
					{{ form.email.errors }}
				{% endif %}
				<p>{{ form.email }}</p>
				<input type = "submit" value = "Envoyer" class = "primary" />
			</form>
		</section>
	</div>
</div>

{% endblock %}