{% extends 'acceuil/base.html' %}

{% block title %}
changement de mot de passe
{% endblock %}

{% block content %}
{% load static %}

<div class = "wrapper">
	<div class = "inner">
		<section class = "main">
			{% if validlink %}
			<header class="major">
				<p>Veuillez entrer un nouveau mot de passe</p>
			</header>
				<form action = "" method = "post">
				{% csrf_token %}
					<table>
						<tr>
							<td>{{ form.new_password1.errors }}
								<label for = "id_new_password1">Mot de passe :</label></td>
							<td>{{ form.new_password1 }}</td>
						</tr>
						<tr>
							<td>{{ form.new_password2.errors }}
								<label for = "id_new_password2">Confirmez le mot de passe :</label></td>
							<td>{{ form.new_password2 }}</td>
						</tr>
					</table>
					<input type = "submit" value = "Changer" class = "primary" />
				</form>
			{% else %}
				<p>La réinitialisation du mot de passe n'est pas possible.<br />
				Le lien est invalide, ou a déjà été utilisé.<br />
				Veuillez recommencer la demande.</p>
			{% endif %}
		</section>
	</div>
</div>

{% endblock %}