<!DOCTYPE HTML>
<!--
	Altitude by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
{% load static %}
	<head>
		<title>Association</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%static 'acceuil/assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo">ASSOCIATION CARTABLES D'AFRIQUE <span>site réalisée bénevolement par les membres</span></a>
									<nav>
										<ul>
											<li><a href="#menu">Menu</a></li>
										</ul>
									</nav>
								</header>

							<!-- Nav -->
								<nav id="menu">
									<ul class="links">
										<li><a href="home">Acceuil</a></li>
										<li><a href="actualite.html">***Actualités***</a></li>
										<li><a href="association.html">L'association</a></li>
										<li><a href="parrainage.html">***Mon parrainage***</a></li>
										<li><a href="soutenir.html">***Nous soutenir***</a></li>
										<li><a href="contact.html">***Contact***</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary fit">Sign Up</a></li>
										<li><a href="#" class="button fit">Log In</a></li>
									</ul>
								</nav>

						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Main -->
								<section class="main">

									<header class="major">
										<h1>L'ASSOCIATION</h1>
										<p>Mieux connaître notre action</p>
									</header>

									<a href="#" class="image main"><img src="{%static 'acceuil/assets/images/enfantsamuse3.jpg'%}" alt="" /></a>
									<p>M. Jean Simpore, surnommé ‘Petit-Jean’ a travaillé plus de 30ans dans l’éducation des enfants à travers le sport.n</p>
									<p>En 2014 il aide à scolariser les enfants orphelins à travers l’association pour les orphelins AMPO.</p>
									<p>En 2015, afin de pérenniser l’œuvre de son père, Roland Simporé fonde l’association locale « Petit Jean ». Cadre supérieur travaillant à Paris et de double culture française et burkinabé, il inscrit cette initiative dans une vision plus ambitieuse d’aide à l’éducation des enfants défavorisés ou ayant des difficultés d’insertion en milieu éducatif sur le continent Africain.</p>
									<p>Il crée en 2017 « Cartables d’Afrique », structure associative de droit français, qui a vocation à s’appuyer sur des associations locales pour développer ses actions. Le premier partenariat est mis en place de manière naturelle avec l’association « Petit Jean » au Burkina Faso, dont la direction est confiée à Mme Maria Yameogo, qui dirige le programme local pour « Cartables d’Afrique ».</p>

									<hr />

									<h2>ORGANISATION</h2>
									<h3>FONCTIONNELLE</h3>
									<p>Cartables d’Afrique, en France, construit la stratégie de développement de l’association, est garante du bon fonctionnement opérationnel des antennes locales et assure la communication et la promotion du programme global.</p>
									<p>Petit Jean est l’antenne locale au Burkina Faso. Elle réceptionne les demandes de scolarité, enquête sur les familles demandeuses, se charge de la recherche d’écoles proches du domicile des enfants, des inscriptions et de l’achat de fournitures scolaires et suit de près la scolarité de chaque enfant par des réunions régulières avec les enseignants. </p>
									<p>Deux évènements annuels sont en outre organisés pour réunir toutes les familles avant les fêtes de noël et à la fin de l’année scolaire. Les parrains et donateurs ont l’occasion à la fête de fin d’année scolaire de rencontrer les enfants, les parents et les représentants de l’association.</p>
									<h3>OPERATIONNELLE</h3>
									<p>Petit Jean est l’antenne locale au Burkina Faso. Elle réceptionne les demandes de scolarité, enquête sur les familles demandeuses, se charge de la recherche d’écoles proches du domicile des enfants, des inscriptions et de l’achat de fournitures scolaires et suit de près la scolarité de chaque enfant par des réunions régulières avec les enseignants. </p>
									<p>Deux évènements annuels sont en outre organisés pour réunir toutes les familles avant les fêtes de noël et à la fin de l’année scolaire. Les parrains et donateurs ont l’occasion à la fête de fin d’année scolaire de rencontrer les enfants, les parents et les représentants de l’association.</p>


									<hr />

									<h2>LES PROGRAMMES</h2>
									<h3>BILAN DU DERNIER PROGRAMME 2018-2019</h3>
									<p>Le budget du programme 2018-2019 est de 15 500 euros. Le budget a servi aussi bien pour pour la scolarité des enfants que pour le fonctionnement de l'antenne locale. </p>
									<p>2 employés à Ouagadougou ont supervisé et suivi la scolarité des enfants tout au long de l'année</p>
									<p>210 enfants ont été scolarisés durant l'année</p>
									<hr />
									<h3>PREPARATION DU PROGRAMME 2019-2020</h3>
									<p>Budget prévisionnel 2019-2020: 20 000 euros</p>

								</section>

						</div>
					</div>

				<!-- Wrapper -->
					<div class="wrapper">
						<div class="inner">

							<!-- Footer -->
								<footer id="footer">
									<section class="links">
										<div>
											<h3>RESULTATS</h3>
											<ul class="plain">
												<li><a href="#">Résultats Clés</a></li>
												<li><a href="#">Parcours de réussite</a></li>
												<li><a href="#">Rapports sur les résultats</a></li>
											</ul>
										</div>
										<div>
											<h3>FINANCEMENT</h3>
											<ul class="plain">
												<li><a href="#">Financements</a></li>
												<li><a href="#">Ressourses utiles</a></li>
												<li><a href="#">Calendriers pour le financement</a></li>
											</ul>
										</div>
										<div>
											<h3>INFORMATION SUR</h3>
											<ul class="plain">
												<li><a href="#">Conseil d'administration</a></li>
												<li><a href="#">Comment nous travaillons</a></li>
												<li><a href="#">Foire aux questions</a></li>
												<li><a href="#">Contact</a></li>
											</ul>
										</div>
										<div>
											<h3>ESPACE PROFESSIONEL</h3>
											<ul class="plain">
												<li><a href="#">Presse</a></li>
												<li><a href="#">Entreprise mécène</a></li>
											</ul>
										</div>
									</section>
										<ul class="contact-icons">
										<li class="icon fa-home">70 Avenue des grésillons, 92600 Asnières Sur Seine</li>
										<li class="icon fa-phone"><a href="#">(000) 000-0000</a></li>
										<li class="icon fa-envelope-o"><a href="#">cartablesdafrique@gmail.com</a></li>
									</ul>
									<p class="copyright">&copy; Association Cartables d'Afrique. Tous droits réservés.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{%static 'acceuil/assets/js/jquery.min.js' %}"></script>
			<script src="{%static 'acceuil/assets/js/browser.min.js' %}"></script>
			<script src="{%static 'acceuil/assets/js/breakpoints.min.js' %}"></script>
			<script src="{%static 'acceuil/assets/js/util.js' %}"></script>
			<script src="{%static 'acceuil/assets/js/main.js' %}"></script>

	</body>
</html>