{% extends 'acceuil/base.html' %}

{% block title %}
contactez-nous
{% endblock %}

{% block content %}
{% load static %}

<div class = "wrapper">
	<div class = "inner">
		<section class = "main">
			<header class="major">
				{% if messages %}
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				{% endif %}
			</header>

			<form method="post" action="#" onsubmit = "return form_is_valid()">
			{% csrf_token %}
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall">
						<input type = "text" id = "last_name" name = "last_name" required placeholder = "Votre nom...">
					</div>
					<div class="col-6 col-12-xsmall">
						<input type = "text" id = "first_name" name = "first_name" required placeholder = "Votre prénom...">
					</div>
					<div class="col-12">
						<input type="email" name="email" id="email" value="" required placeholder="Votre email..." />
					</div>
					<!-- Break -->
					<div class="col-12">
						<textarea name="message" id="message" required placeholder="Votre message..." rows="6"></textarea>
					</div>
					<!-- Break -->
					<div class="col-12">
						<script src = "https://www.google.com/recaptcha/api.js"></script>
						<div class = "g-recaptcha" data-sitekey = "6LfYz_EUAAAAAD3bQRY3upNnclv2V1FJJqF9Mx3T"></div><br />
						<ul class="actions">
							<li><input type="submit" value="Envoyer" class="primary" /></li>
							<li><a href="{% url 'home' %}" class="button">Retour</a></li>
						</ul>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>

{% endblock %}